nav{
    background-color: #00308F;
}
.active{
    color: #f96d00 !important;
}
.active:hover{
    color: #f96d00 !important;
}
img{
    width: 180px;
    height: 70px;
}
a{
    color: #fff;
}

.info-user ul li{
    color: #fff;
    font-size: 18px;
    padding: 10px;
}
