<app-navbar [isLogin]="false" [textBtn]="'Salir'"></app-navbar>
<div class="main">
    <div class="card">
        <h2 class="text-center">Iniciar Sessión</h2>
        <form [formGroup]="form" (ngSubmit)="login(form.value)">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Correo Electronico</label>
              <input type="email" class="form-control" id="exampleInputEmail1" formControlName="correo" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Recordarme</label>
            </div>
            <div class="btn-group-login">
                    <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
                    <button type="button" class="btn btn-outline-primary" (click)="register()">Registrarse</button>
                </div>
        </form>
    </div>
   
</div>